html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: Tahoma;
}

* {
	box-sizing: inherit;
}

body {
	margin: 0;
}


/* Header */

header #menu_top{
	height:160px;
	width:1250px;
}
header #main{
	min-height:500px;
	width:1250px;
	clear:left;
}
header #main #menu_left{
	float:left;
	width:250px;
	height:400px;
}

header #main #hotdeals{
	float:left;
	width:1000px;
	min-height:400px;
}

header #menu_top #danhmuc{
	height:40px;
	width:1250px;
}
header #menu_top #duongdan{
	height:40px;
	width:1250px;
}
header #menu_top #logo{
	width:300px;
	float:left;
	min-height:120px;
}
header #menu_top #logo img{
	height:120px;
	width:250px;
	margin-left:40px;
}
header #menu_top #top_left{
	width:775px;
	float:left;
	height:120px;
}
header #menu_top #top_left #find{
	height:90px;
	text-align:center;
	line-height:100px;

}
header #menu_top #top_left #qoute {
	height:30px;
	margin-top:-17px;
	
}
header #menu_top #top_left #qoute h2{
	font-size:25px;
	color:#F96;
	font-family:"Comic Sans MS", cursive;
	line-height:30px;
	text-align:center;
	margin-top:8px;
}
header #menu_top #top_left #find input[type=text]{
	width: 450px;
	height:40px;
	outline: none;
	border-radius: 15px 15px 15px 15px;
	border: 1px solid #ccc;
	background:#FFF url(http://localhost/DoAn/public/images/iconsearch.png) no-repeat 1px;
	text-indent:35px;
}
header #menu_top #top_left #find input[type=button]{
	width:100px;
	height:40px;
	background:#7fab21;
	color:#FFF;
	border: 0px;
}
header #menu_top #top_right{
	width:175px;
	float:left;
	height:120px;
} 

header #menu_top #top_right #right_top #left{
	float:left;
	width:175px;
	height:70px;
	background:#FFF url(http://localhost/DoAn/public/images/iconcart.png) no-repeat 1px;
	line-height:40px;
	text-align:center;
	color:#7fab21;	
}
header #menu_top #top_right #right_top #left a{
	text-decoration:none;
	color:#7fab21;
}
header #menu_top #top_right #right_top #left h3{
	margin-top:25px;
	font-size:17px;
}

header #menu_top #top_right #right_top #right{
    height:20px;
	background:#FFF;
}
header #menu_top #top_right #right_top #right ul{
	margin:0px;
	padding:0px;
}
header #menu_top #top_right #right_top #right ul li{
	list-style:none;
	float:left;
}
header #menu_top #top_right #right_top #right ul li a{
	text-decoration:none;
    display:block;
    font-size: 15px;
	height:20px;
	color:#7fab21;
	border-left:1px solid #7fab21;
	padding:0px 10px 0px 10px;/*giãn cách theo 4 chiều top left bottom right*/
} 
header #menu_top #top_right #right_bottom{
	margin:-20px 20px;
	height:30px;
}
header #menu_top #top_right #right_bottom a{
    text-decoration:none;
    font-size: 20px;
	color:#7fab21;
}

/*--------------*/



/* Main form */
.main__form-wrap{
	line-height: auto;
}
.main__form-heading {
	font-size: 2.8rem;
	color: #555;
	margin-top: 0;
}

.main_form-container {
	border: 1px solid #333;
	width: 550px;	
	background-color: rgba(170, 255, 170, 0.6);
	border: 1px solid #bfe078;
	box-shadow: 1px 1px 5px #8a8d82;
}	

form {
	padding: 20px 0;
	width: 70%;
}

.form-heading {
	margin-top: 0;
	font-size: 2.2rem;
	color: #156615;
}


.input__group {
	margin-bottom: 15px;
	height: 35px;
}
.input__group select{
	width: 100%;
	height: 100%;
	padding-left: 10px;
	font-size: 1.5rem;
	border-radius: 3px;
	border: 1px solid #7fab21;
	border-left-width: 3px;
	outline: none;
}

.btn-file-upload{
	width: 187px;
	position:relative;
}

.btn-file-upload:after{
   content:  attr(value);
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;    
   width: 28%;
   background:#7fab21;
   color: white;
   border-radius: 2px;
   text-align: center;
   line-height: 2;
}
.input__group input{
	width: 100%;
	height: 100%;
	padding-left: 10px;
	font-size: 1.5rem;
	border-radius: 3px;
	border: 1px solid #7fab21;
	border-left-width: 3px;
	outline: none;
}
.input__group--margin-bottom-less {
	margin-bottom: 5px;
}

.input__group--flex,
.input_show-password-check-container {
	text-align: left;
	display: flex;
	align-items: center;
}

.input_show-password-check-container {
	margin-bottom: 15px;
}

input[name="showPass"] {
	margin-left: 0;
	margin-bottom: 1px;
	margin-right: 5px;
	position: relative;
}

input[name="showPass"] + span {
	font-size: 1.3rem;
	color: #291ca0;
}

input[name="showPass"]::after {
	content: "";
	position: absolute;
	left: 16px;
	width: 108px;
	height: 15px;
}

input[name="check"] {
	height: 13px;
	width: 13px;
	margin-left: 0;
	margin-bottom: 1px;
	margin-right: 5px;
	position: relative;
}

input[name="check"]::after {
	content: "";
	position: absolute;
	left: 18px;
	top: -1px;
	width: 108px;
	height: 15px;
}

input[name="check"]::before {
	content: "";
	position: absolute;
	left: 243px;
	width: 16px;
	height: 15px;
}

input[name="check"] + span {
	font-size: 1.3rem;
}

input[name="check"] + span a {
	text-decoration: none;
	color: #286d28;
}

input[name="check"] + span a:hover {
	color: #1a471a;
}

.input__group-submit-btn {
	margin-bottom: 25px;
}

input[name="register"]{
	width: 200px;
	background-color: #0e770e;
	color: #eee;
	font-weight: 600;
	font-size: 1.5rem;
	padding: 10px 0;
	border: 2px solid #3ab93a;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

input[name="register"]:hover {
	color: #3bf73b;
	background-color: #eee;
	border-color: #3bf73b;
	transition: all 0.3s ease;
}

input[name="DeleteSP"]{
	width: 200px;
	background-color: #0e770e;
	color: #eee;
	font-weight: 600;
	font-size: 1.5rem;
	padding: 10px 0;
	border: 2px solid #3ab93a;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

input[name="DeleteSP"]:hover {
	color: #3bf73b;
	background-color: #eee;
	border-color: #3bf73b;
	transition: all 0.3s ease;
}

input[name="UpdateSP"]{
	width: 200px;
	background-color: #0e770e;
	color: #eee;
	font-weight: 600;
	font-size: 1.5rem;
	padding: 10px 0;
	border: 2px solid #3ab93a;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

input[name="UpdateSP"]:hover {
	color: #3bf73b;
	background-color: #eee;
	border-color: #3bf73b;
	transition: all 0.3s ease;
}

input[name="UpdatePassword"]{
	width: 200px;
	background-color: #0e770e;
	color: #eee;
	font-weight: 600;
	font-size: 1.5rem;
	padding: 10px 0;
	border: 2px solid #3ab93a;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-top: 15px;
}

input[name="UpdatePassword"]:hover {
	color: #3bf73b;
	background-color: #eee;
	border-color: #3bf73b;
	transition: all 0.3s ease;
}

p.confirm-message {
	text-align: left;
	color: rgb(221, 12, 12);
	font-size: 1.3rem;
	margin: 2px 0;
	display: none;
}

input[name="DeleteKH"]{
	width: 200px;
	background-color: #0e770e;
	color: #eee;
	font-weight: 600;
	font-size: 1.5rem;
	padding: 10px 0;
	border: 2px solid #3ab93a;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

input[name="DeleteKH"]:hover {
	color: #3bf73b;
	background-color: #eee;
	border-color: #3bf73b;
	transition: all 0.3s ease;
}

.form__for-new-user {
	font-size: 1.4rem;
}

.form__for-new-user-link {
	color: #286d28;
	text-decoration: none;
}

.form__for-new-user-link:hover {
	color: #1a471a;
}



/* Footer */
footer {
    margin-top: 100px;
	background-color: #f2f2f2;
}

.footer-wrap {
	padding: 15px 10px;
	text-align: center;
}

.footer-wrap-info {
	display: flex;
	justify-content: space-around;
	padding-bottom: 20px;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 30px;
}

.footer__shopInfo-aboutus-heading {
	font-size: 15px;
	margin-bottom: 10px;
}

.footer__shopInfo-link-list {
	padding-left: 0;
	list-style: none;
}

.footer__shopInfo-link-item {
	margin: 15px 0;
}

.footer__shopInfo-link {
	text-decoration: none;
	font-size: 14px;
	color: #000;
}

.footer__shopInfo-link:hover {
	text-decoration: underline;
}

.footer__contact-container,
.footer__address-container {
	font-size: 15px;
}

.footer__contact-icon-container {
	display: flex;
	justify-content: space-between;
}

.footer__contact-icon-link {
	font-size: 28px;
	color: #666;
}

.footer__contact-icon-link:hover {
	color: #222;
}

.footer-wrap-copyright {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-wrap-copyright p {
	padding-right: 20px;
	border-right: 1px solid #888;
    margin: 0;
    font-size: 1.2rem;
}

.footer-wrap-copyright-link-container {
	padding-left: 20px;
}

.footer-wrap-copyright-link {
	font-size: 13px;
	text-decoration: none;
	margin: 0 10px;
	color: #333;
}

.footer-wrap-copyright-link:first-child {
	margin-left: 0;
}

.footer-wrap-copyright-link:hover {
	text-decoration: underline;
}
