/*.table&amp;amp;gt;tbody&amp;amp;gt;tr&amp;amp;gt;td, .table&amp;amp;gt;tfoot&amp;amp;gt;tr&amp;amp;gt;td {  
    vertical-align: middle;
    }
     */
     @media screen and (max-width: 600px) { 
        table#cart tbody td .form-control { 
        width:20%; 
        display: inline !important;
        } 
         
        .actions .btn { 
        width:36%; 
        margin:1.5em 0;
        } 
         
        .actions .btn-info { 
        float:left;
        } 
         
        .actions .btn-danger { 
        float:right;
        } 
         
        table#cart thead {
        display: none;
        } 
         
        table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width:320px;
        } 
         
        table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
        } 
         
        table#cart tbody td:before { 
        content: attr(data-th);
        font-weight: bold; 
        display: inline-block;
        width: 8rem;
        } 
         
        table#cart tfoot td {
        display:block;
        } 
        table#cart tfoot td .btn {
        display:block;
        }
        }

        
header #menu_top{
	height:160px;
	/* width:1250px; */
	margin-left:-100px;
}

.order-form .container {
    color: #4c4c4c;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

h4.item {
    color: #777;
}



.order-form-label {
    margin: 8px 0 0 0;
    font-size: 14px;
    font-weight: bold;
}

.order-form-input {
    width: 100%;
    padding: 8px 8px;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 3px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    background-color: transparent;
    border-color: #cccccc;
}

.btn-submit:hover {
    background-color: #090909 !important;
}

#right_bottom h2 {
    font-size: 1.5rem;
}

